@font-face {
    font-family: 'Jost';
    src: 
    url('../fonts/Jost-Light.woff2') format('woff2'),
    url('../fonts/Jost-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: 
    url('../fonts/Jost-Regular.woff2') format('woff2'),
    url('../fonts/Jost-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: 
    url('../fonts/Jost-Medium.woff2') format('woff2'),
    url('../fonts/Jost-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
    
@font-face {
    font-family: 'Jost';
    src: 
    url('../fonts/Jost-SemiBold.woff2') format('woff2'),
    url('../fonts/Jost-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
    
@font-face {
    font-family: 'Jost';
    src: 
    url('../fonts/Jost-Bold.woff2') format('woff2'),
    url('../fonts/Jost-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal; 
}

@font-face {
    font-family: 'Jost';
    src: 
    url('../fonts/Jost-Black.woff2') format('woff2'),
    url('../fonts/Jost-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

:root {
    --white: #fff;
    --black: #000;
    --text-color:#352B2B;
    --border: #C8986C;
    --footer: #585755;
} 

body {
    font-family: 'Jost' , sans-serif;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1720px;
}

/*header*/

.header {
    background-color: var(--white);
}

.header__container-top {
    display: flex;
    justify-self: end;
}

.header__logo {
    margin-left: auto;
    width: calc(920/1720*100%);
    text-align: center;
}

.header__container-bottom {
    display: flex;
    justify-content: space-between;
}

.header__top {
    padding: 50px 0;
}

.header__login {
    margin-right: 50px;
    font: 500 21px/30px 'Jost';
    color: var(--text-color);
}

.header__register {
    font: 700 21px/30px 'Jost';
    color: var(--text-color);
}

.header__login:hover {
    color: var(--border);
    transition: color .3s linear;
}

.header__bottom {
    padding-bottom: 50px;

}

.header__nav {
    display: flex;
    width: calc(400/1800 * 100%);
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 60px;
    font: 300 21px/30px 'Jost';
    color: var(--text-color);
    transition: color .3s linear;
}

.header__item:hover {
    color: var(--border);
}

.header__user {
    font:300 21px/30px 'Jost';
    color: var(--text-color);
}

/*registr*/

.registr {
    padding-top: 100px;
    padding-bottom: 128px;
}

.registr__container {
    width: calc(500/1920*100%);
}

.registr__title {
    margin-bottom: 50px;
    font: 900 45px/65px 'Jost';
    color: var(--text-color);
    text-align: center;
}

.registr__form {
    display: flex;
    flex-direction: column;
}

.registr__label {
    margin-bottom: 15px;
    font: 700 34px/49px 'Jost';
    color: var(--black);
}

.registr__mail,
.registr__name,
.registr__password {
    margin-bottom: 35px;
    padding-bottom: 3px;
    font: 400 21px/30px 'Jost';
    color: var(--black);
    border-bottom: 2px solid var(--border);
}

.registr__password {
    margin-bottom: 40px;
}

.register__btn {
    padding: 15px 72px;
    margin-left: 26%;
    font: 500 21px/30px 'Jost';
    width: 250px;
    color: var(--white);
    background-color: var(--footer);
}

/*footer*/

.footer {
    background-color: var(--footer);
}

.footer__container {
    padding: 35px;
}

.footer__descr {
    font: 300 21px/30px 'Jost';
    text-align: center;
    color: var(--white);
}