@font-face {
    font-family: 'Jost';
    src: 
    url('../fonts/Jost-Light.woff2') format('woff2'),
    url('../fonts/Jost-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: 
    url('../fonts/Jost-Regular.woff2') format('woff2'),
    url('../fonts/Jost-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: 
    url('../fonts/Jost-Medium.woff2') format('woff2'),
    url('../fonts/Jost-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
    
@font-face {
    font-family: 'Jost';
    src: 
    url('../fonts/Jost-SemiBold.woff2') format('woff2'),
    url('../fonts/Jost-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
    
@font-face {
    font-family: 'Jost';
    src: 
    url('../fonts/Jost-Bold.woff2') format('woff2'),
    url('../fonts/Jost-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal; 
}

@font-face {
    font-family: 'Jost';
    src: 
    url('../fonts/Jost-Black.woff2') format('woff2'),
    url('../fonts/Jost-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

:root {
    --white: #fff;
    --text-color:#352B2B;
    --border: #C8986C;
    --footer: #585755;
} 

body {
    font-family: 'Jost' , sans-serif;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1720px;
}

/*hero*/

.hero-menu {
    width: 100%;
    min-height: 600px;
    max-height: 600px;
    background-image: url(../img/menu-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__container {
    padding: 193px 130px;
    text-align: center;
}

.hero__title {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 70px;
    font: 900 45px/65px 'Jost';
}

.hero__title::before {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    left: 46%;
    border-bottom: 2px solid #c8986c;
    width: 100px;
}

.hero__btn {
    padding: 25px 39px;
    font: 500 21px/30px 'Jost';
    color: var(--white);
    background-color: #585755;
    transition: all .2s linear;
}

.hero__btn:hover {
    background-color: #c8986c;
}

/*desert*/

.menu {
    padding-top: 100px;
}

.menu__title {
    margin-bottom: 50px;
    font: 700 34px/49px 'Jost';
    text-align: center;
    color: var(--text-color);
}

.menu__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu__name {
    margin-bottom: 15px;
    font: 400 21px/30px 'Jost';
}

.menu__descr {
    font: 300 21px/30px 'Jost';
}

.menu__card {
    margin-bottom: 50px;
    /* padding: 400px 15px 15px 15px; */
    position: relative;
    text-align: center;
    width: 350px;
    /* min-height: 445px; */
}

.image {
    margin-bottom: 10px;
}

.menu__card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* width: 350px;
    height: 350px; */
    background-repeat: no-repeat;
    background-size: cover;
}

.menu__item:not(:nth-child(4n)) {
    margin-right: 10px;
}

/*footer*/

.footer {
    background-color: var(--footer);
}

.footer__container {
    padding: 35px;
}

.footer__descr {
    font: 300 21px/30px 'Jost';
    text-align: center;
    color: var(--white);
}