@font-face {
    font-family: 'Jost';
    src: 
    url('../fonts/Jost-Light.woff2') format('woff2'),
    url('../fonts/Jost-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: 
    url('../fonts/Jost-Regular.woff2') format('woff2'),
    url('../fonts/Jost-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: 
    url('../fonts/Jost-Medium.woff2') format('woff2'),
    url('../fonts/Jost-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
    
@font-face {
    font-family: 'Jost';
    src: 
    url('../fonts/Jost-SemiBold.woff2') format('woff2'),
    url('../fonts/Jost-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
    
@font-face {
    font-family: 'Jost';
    src: 
    url('../fonts/Jost-Bold.woff2') format('woff2'),
    url('../fonts/Jost-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal; 
}

@font-face {
    font-family: 'Jost';
    src: 
    url('../fonts/Jost-Black.woff2') format('woff2'),
    url('../fonts/Jost-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

:root {
    --white: #fff;
    --text-color:#352B2B;
    --border: #C8986C;
    --footer: #585755;
} 

body {
    font-family: 'Jost' , sans-serif;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1720px;
}

/*basket*/

.basket {
    padding-bottom: 155px;
}

.basket__container {
    position: relative;
}

.basket__title {
    margin-bottom: 20px;
    padding-bottom: 50px;
    font: 900 45px/65px 'Jost';
    color: var(--text-color);
    border-bottom: 2px solid var(--border);
}

.basket__list {
    margin-bottom: 40px;
    width: calc(1400/1920*100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.basket__name {
    font:400 21px/30px 'Jost';
}

.basket__descr,
.basket__sum {
    font: 300 21px/30px 'Jost';
}

.basket__price,
.basket__remove {
    font: 500 21px/30px 'Jost';
}

.basket__remove {
    cursor: pointer;
}

.basket__pay {
    display: flex;
    position: absolute;
    right: 0;
}

.basket__total {
    margin-right: 50px;
    font: 700 34px/49px 'Jost';
    color: var(--text-color);
}

.basket__btn {
    padding: 16px 66px;
    font: 500 21px/30px 'Jost';
    color: var(--white);
    background-color: var(--footer);
    transition: all .3s linear;
}

.basket__btn:hover {
    background-color: var(--border);
}

/*footer*/

.footer {
    background-color: var(--footer);
}

.footer__container {
    padding: 35px;
}

.footer__descr {
    font: 300 21px/30px 'Jost';
    text-align: center;
    color: var(--white);
}